* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: cornflowerblue;
}

.container {
    display: flex;
}

.display {
    padding: 20px 10px;
    font-size: 20px;
}

.display_upper {
    padding: 5px;
}

.opeators {
    display: flex;
}

.play_button, .operator {
    padding: 5px 10px;
}