@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

.inner_main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:dimgrey;
    border-radius: 5px;
    border: 4px solid black;
}

.output {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.display {
    display: flex;
    font-size: 2.5rem;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.output {
    display: flex;
    flex-direction: column;
    background-color:aliceblue;
    border: 3px solid black;
    margin-bottom: 2px;
}

.display_upper {
    display: flex;
    font-size: 1.5rem;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    gap: 2px;
}

.calculator-grid > button{
    background-color: aliceblue;
    cursor: pointer;
    font-size: 2rem;
    border: 3px solid black;
}

.calculator-grid > button:hover{
    background-color: rgb(255, 255, 255, 0.70);
}

.double-size {
    grid-column: span 2;
}