* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: cornflowerblue;
}

.inner_main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
}

.display {
    padding: 20px 10px;
    font-size: 20px;
}

.display_upper {
    padding: 5px;
}

.opeators {
    display: flex;
}

button {
    width: 40px;
    height: 40px;
}